@page
@model DemoCustomAuth.Pages.Index1Model
@{
}
@{
    ViewData["Title"] = "Secure Page for Admins";
}
<h1>@ViewData["Title"]</h1>

<p>This is a very secure Page only Admins are allowed here</p>


